body{
     margin: 20px 90px;
}


.container{
       text-align: center;
       background-color: aqua;
       padding: 5px;
}
.container h1{
        font-size: 35px;
        font-weight: 12px;
}
.container p{
       font-weight: 10px;
}
.middle{
    text-align: center;
}
.container-1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
    text-align: center;
}
.card{
        background-color: gray;
        color: white ;
        padding: 15px;
        border: 2px solid black ;
        border-radius: 7px;     
}
.card img{
    height: 200px;
    width: 300px;
}
.card button{
    cursor: pointer;
}


@media only screen and (max-width:600px){
    .container-1{
        display:block;
        grid-template-columns: repeat(1,1fr);
    }
    .card{
        margin: 10px;
    }
    .card img{
        height: 150px;
        width: 200px;
    }
}